.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.panel {
  justify-content: center;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn{
  margin-top: 5%;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-container{
  display: flex;
  flex-direction: column;
  margin-right: 8%;
}